form {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

label {
    margin: 0 1rem 0 1rem;
}

.sortBy {
    display: flex;
    flex-direction: row;
}